.Home{
    overflow: hidden;

    .slider_brand{
        text-align: center ;
        h2{

            text-transform: uppercase;
            font-size: 30px;
            color:#97775b ;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                bottom: -10px;
                left: 50%;
                height: 10px;
                width: 10px;
                background-color: #97775b;
                border-radius: 50%;
            }
        }   
        .items_brand{

            display: flex !important;
            align-items: center;
            justify-content:space-between;
            img{
                width: 200px;
            }   
        }
    }
    .banner{
        font-style: italic;
        img{
            width: 100px;
            border-radius: 50%;
        }
        h1{
            color: rgba(0, 0, 0, 0.671);
        }
        padding: 1rem;
        background-color:#97775b;
        background-size:contain;
        margin: 5rem 0px;
        text-align: center;
        button{
            border:  1px solid #8e7055;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: 500;
            color: white;
            transition-duration: 0.3s;
            cursor: pointer;
            font-size: 20px;
            background-color: black;
            &:hover{
                
                background-color: #97775b;
                color: white;
                border-color: white;
            }   

        }
    }
    .grey{
        padding: 2rem 0px;
        background-color:  rgb(235 235 235);
    }
    .view_services{

        text-transform: capitalize;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 40px;
        
        .item_view_services{
            width: 100%;
            h3{
                text-transform: uppercase;
                font-size: 30px;
                color:#97775b ;
                position: relative;
                &::after{
                    content:'';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    height: 10px;
                    width: 10px;
                    background-color: #97775b;
                    border-radius: 50%;
                }
            }
            P{
                line-height: 1.5;
                font-style: italic;
                font-weight: 500;
                color: #4f453c;
            }
        }

    }
    .view{
        margin-bottom: 2rem;
        text-align: center;
        a{
            display: inline-block;
            margin: 1rem 0px;
            margin-top: 3rem;
            text-transform: uppercase;
            background-color: #8e7055;
            text-decoration: none;
            border: 1px solid #4f453c;
            font-size: 18px;
            font-weight:600 ;
            padding: 10px;
            color: white;
            border-radius: 5px;
            transition-duration: 0.3s;
            &:hover{
                color: #97775b;
                border-color: #97775b;
                background-color: white;
            }
        }
    }
    .HomeVideosLinks{
        // width: 100%;
        text-align: center;
        h2{
            display: inline-block;
            margin-bottom: 5rem;
            text-transform: uppercase;
            font-size: 30px;
            color:#97775b ;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                bottom: -10px;
                left: 50%;
                height: 10px;
                width: 10px;
                background-color: #97775b;
                border-radius: 50%;
            }
        }
        .btn_follow{
            display: inline-block;
            margin: 1rem 0px;
            text-transform: capitalize;
            background-color: #8e7055;
            text-decoration: none;
            border: 1px solid #4f453c;
            font-size: 20px;
            font-weight:600 ;
            padding: 10px;
            color: white;
            border-radius: 5px;
            transition-duration: 0.3s;
            &:hover{
                color: #97775b;
                border-color: #97775b;
                background-color: white;
            }
        }
    }   
    @media (max-width:825px) {
        .slider_brand{
            .items_brand{
                img{
                    width: 100px !important;
                }
            }
            h2{
                font-size: 25px;
            }
        }
        .view_services{
            .item_view_services{
                h3{
                    font-size: 23px;
                }
                p{
                    font-size: 13px;
                }
            }   
        
        }
        .view{
            a{
                font-size: 14px;
            }
        }
        .banner{
            h1{
                font-size: 28px;
            }
            button{
                font-size: 18px;

            }
        }


        .HomeVideosLinks{
            h2{
                font-size: 24px;
            }    
            .btn_follow{
                font-size: 15px;
            }
        }

    }

    @media (max-width:630px) {
        .view_services{
            flex-direction: column;
             display: flex;
            .item_view_services{
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 10px;
                }
            }   
        
        }
        .slider_brand{
            .items_brand{
                img{
                    width: 60px !important;
                }
            }
            h2{
                font-size: 25px;
            }
        }
    }
        
}
